<template>
	<view class="content">
分类
	</view>
</template>

<script>
	export default {
		data() {
			return {
			}
		},
		onLoad(){
		},
		methods: {

		}
	}
</script>

<style lang='scss'>
	
</style>
