<template>
	<view class="container">
购物车
	</view>
</template>

<script>
	export default {
		data() {
			return {
			};
		},
		onLoad(){
		},
		methods: {
		}
	}
</script>

<style lang='scss'>
</style>
