<template>  
    <view class="container">  
	我的
    </view>  
</template>  
<script> 
    export default {
		components: {
		},
		data(){
			return {
			}
		},
		onLoad(){
		},
        methods: {
        }  
    }  
</script>  
<style lang='scss'>

</style>